.advancecourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  /* border: red solid 3px; */
  background: #ffffff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* margin-left: 40px;
  margin-right: 40px; */
  width: 720px;
  margin-bottom: 10px;
}
.courses {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 1px solid lightgray;
  width: 720px;
  height: auto;
  /* margin: 10px; */
}
.courses h3 {
  /* margin: 60px; */
  margin-left: 60px;
  margin-right: 60px;
  align-content: center;
  justify-items: center;
}
button {
  margin-right: 15px;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.checbxstyle {
  display: flex;
  margin-left: 10px;
  align-items: center;
  /* margin-bottom: 20px; */
  margin-right: 0px;
}

.modalbtn-float-right {
  margin-right: 20px;
}
button .closemodalbtn-float-right {
  float: right;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  border: none;
  color: #ffffff;
}
.modal {
  /* margin-right: 30px; */
  border: transparent;
  background-color: #ffffff;
}

/* .modalcontainer {
  width: 200px;
  background-color: tomato;
} */

.mymodal {
  position: fixed;
  top: "50%";
  left: "50%";
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: linear-gradient(90deg, #ff5edf 0%, #04c8de 100%);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  background-color: rgba(0, 0, 0, 0.75);
}

.footer {
  border: green solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 10px;

  background: linear-gradient(90deg, #ff1edf 0%, #04c9de 100%);
}
