.advancecourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  /* border: red solid 3px; */
  background: #ffffff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* margin-left: 40px;
  margin-right: 40px; */
  width: 720px;
  margin-bottom: 10px;
}
.courses {
  display: flex;
  background-color: transparent;
  align-items: center;
  border: 1px solid lightgray;
  width: 720px;
  height: auto;
  /* margin: 10px; */
}
.courses h3 {
  /* margin: 60px; */
  margin-left: 60px;
  margin-right: 60px;
  align-content: center;
  justify-items: center;
}

.checbxstyle {
  display: flex;
  margin-left: 10px;
  align-items: center;
  /* margin-bottom: 20px; */
  margin-right: 0px;
}
.footer {
  border: green solid 1px;
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 10px;

  background: linear-gradient(90deg, #ff1edf 0%, #04c9de 100%);
}
