.generalcourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courslist {
  display: flex;
  background-color: cornflowerblue;
  justify-content: space-around;
  margin: 10px;
  border: black 1px solid;
  border-radius: 30px;
}
.courslist h3 {
  margin: 30px;
  /* padding: 10px; */
}
