.generalcourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgb(238, 245, 241); */
  align-items: center;
}

.courslist {
  display: flex;
  background-color: rgb(30, 255, 199);
  justify-content: space-evenly;
  margin: 10px;
  width: 700px;
  border: black 1px solid;
  border-radius: 30px;
  margin-top: 0px;
}
.courslist h3 {
  margin: 30px;
  /* margin-top: 0px; */
  /* padding: 10px; */
}

.checbxstyle {
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  /* justify-content: space-evenly; */
  width: 700px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
