.nav {
  /* background: linear-gradient(90deg, #ff5edf 0%, #04c8de 100%); */
  /* background: #63d471; */

  background: mediumblue;
  /* height: 85px; */
  /* display: flex;  */

  /* justify-content: space-between; */
  /* padding: 0.2rem calc((100vw - 1000px)/2);
  z-index: 12; */
  /* Third Nav */
  justify-content: flex-start;
}

.logo {
  /* border: solid green 2px; */
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: "100%";
}

.logodiv {
  /* border: solid black 5px;
  background: black; */
  width: "100%";
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  margin-top: 0px;
  margin-right: 0px;
}
.counter {
  color: red;
}

.shoppingcart {
  display: flex;
  border: turquoise solid 0px;
  align-items: center;
  justify-content: center;
}

.shoppicart-items-wrapper {
  position: relative;
}

.shoppicart-items-container {
  max-width: 1000px;
  min-height: 100px;
  padding: 15px;
  background-color: whitesmoke;
  position: absolute;
  top: 51px;
  left: -500px;
  border: black solid 1px;
}

.emptycart {
  color: red;
}

.shoppicart-items-container :hover {
  background: black;
  color: white;
}

.shoppingcard-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid yellowgreen;
  border-radius: 15px;
  cursor: pointer;
  margin: 0px;
}

.shoppingcard-items div {
  margin-left: 10px;
  margin-right: 10px;
}
