.nav {
  /* background: linear-gradient(90deg, #ff5edf 0%, #04c8de 100%); */
  /* background: #63d471; */

  background: mediumblue;
  /* height: 85px; */
  /* display: flex;  */

  /* justify-content: space-between; */
  /* padding: 0.2rem calc((100vw - 1000px)/2);
  z-index: 12; */
  /* Third Nav */
  justify-content: flex-start;
}

/* rgb(104, 212, 113)|#68D471|1000x78.6 */

.logo {
  border: solid green 2px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  width: "100%";
}

.logodiv {
  /* border: solid black 5px; */
  /* background: black; */
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-right: 0px;
}
