.navmenue {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: "100%";
  border: black 1px solid;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
